.about {
    position: relative;

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 50px;

        .section-title {
            color: var(--color-primary);
        }

        .skills-card{
            background: rgba($color: #383838, $alpha: 0.5);

            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 40px 30px;
            border-radius: 30px;

            border: 1px solid rgba($color: #F4F1E7, $alpha: 0.2)
        }

        .card-title {
            color: var(--color-grey);
        }

        .li-line{
            display: block;
            width: 20px;
            height: 4px;
            background-color: var(--color-primary);
        }
    }

    .about-hero {
        display: flex;
        align-items: center;
        min-height: 800px;

        .hero-content {
            z-index: 2;

            h3 {
                color: var(--color-primary);
            }
        }

        .hero-media {
            position: absolute;
            top: 100px;
            right: 0;

            max-height: 800px;
            max-width: 1200px;

            z-index: 01;

            display: block;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .info-text {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        h3 {
            color: var(--color-primary);
        }
    }

    .hard-skills {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .hard-tabs {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

        .skills-card {

            .skill-card {
                display: flex;
                gap: 20px;

                .card-media {
                    height: 88px;
                    width: 88px;

                    border-radius: 20px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .card-content {
                    width: auto;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    flex: 1;

                    .bar {
                        width: 100%;
                        height: 20px;
                        background: var(--color-dark-grey);
                        border: solid 1px var(--color-grey);
                        width: 100%;

                        .bar-fill {
                            display: block;
                            height: 100%;
                            width: 0%;
                            background: var(--color-primary);
                            transition: all 1s ease-in-out;
                        }
                    }
                }
            }
        }
        
    }

    .about-bottom{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;

        width: 100%;
        .skill{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
        }
    }

    .soft-skills{
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-width: 860px;

        .soft-tabs{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px;
            height: 100%;
        }

    }

    .other{
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-width: 860px;

        .other-tabs{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 40px;
        }

        .interests{
            max-height: 300px;
            display: flex;
            flex-direction: column;
            gap: 15px;

            .interests-cards{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 50px;
            }

            .interests-col{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 30px;
            }
        }
    }

    .other-link{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .arrow-btn{
            color: var(--color-primary);
        }

        .icon{
            rotate: -90deg;
        }
    }
}
