.about {
    position: relative;

    .about-hero {
        display: flex;
        align-items: center;
        min-height: 800px;

        .hero-content {
            z-index: 2;

            h3 {
                color: var(--color-primary);
            }
        }

        .hero-media {
            position: absolute;
            top: 100px;
            right: 0;

            max-height: 800px;
            max-width: 1200px;

            z-index: 01;

            display: block;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }
}
