.hero-link h3 {
    color: var(--color-primary);

    transition: color 0.3s ease-in-out;
}

.arrow-right {
    .icon {
        rotate: -90deg;
    }
}

.arrow-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
    position: relative;

    color: var(--color-primary);

    padding: 10px 20px;

    overflow: hidden;

    z-index: 2;

    background: none;

    transition: color 0.3s ease-in-out;

    text-transform: uppercase;

    .icon {
        fill: var(--color-primary);
        transition: fill 0.3s ease;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: var(--color-primary);
        z-index: -1;
        transition: width 0.3s ease-in-out;
    }

    &:hover::after {
        width: 100%;
    }

    &:hover {
        color: var(--color-bg-primary);

        .icon {
            fill: var(--color-bg-primary);
        }

        h3 {
            color: var(--color-bg-primary);
        }
    }
}

.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
    position: relative;

    color: var(--color-black);

    overflow: hidden;

    z-index: 2;

    background: none;

    transition: color 0.3s ease-in-out;

    text-transform: uppercase;

    .icon {
        fill: var(--color-black);
        transition: fill 0.3s ease;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: var(--color-black);
        z-index: -1;
        transition: width 0.3s ease-in-out;
    }

    &:hover::after {
        width: 100%;
    }

    &:hover {
        color: var(--color-white);

        .icon {
            fill: var(--color-white);
        }

        h3 {
            color: var(--color-white);
        }
    }
}

.contact-link {
    position: relative;

    color: var(--color-black);

    overflow: hidden;

    z-index: 2;

    background: none;

    transition: color 0.3s ease-in-out;

    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    flex-wrap: wrap;

    @media screen and (max-width: $breakpoint-sm) {
        gap: 10px !important;
    }

    .icon {
        width: 48px;
        height: 48px;

        @media screen and (max-width: $breakpoint-xs) {
            width: 30px !important;
            height: 30px !important;
        }
    }

    .icon {
        fill: var(--color-black);
        transition: fill 0.3s ease;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: var(--color-black);
        z-index: -1;
        transition: width 0.3s ease-in-out;
    }

    &:hover::after {
        width: 100%;
    }

    &:hover {
        color: var(--color-white);

        .icon {
            fill: var(--color-white);
        }

        h3 {
            color: var(--color-white);
        }
    }
}

.contact-link-social {
    @media screen and (max-width: $breakpoint-sm) {
        font-size: 0 !important;
    }

    /* .icon{
        @media screen and (max-width: $breakpoint-sm) {
            display: none;
        }
    } */
}

.link-left {
    padding: 10px 0px 10px 0px;
    transition: padding 0.3s ease;

    &:hover {
        padding: 10px 20px;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
    position: relative;

    color: var(--color-black);

    padding: 10px 20px;

    overflow: hidden;

    z-index: 2;

    background: none;

    transition: color 0.3s ease-in-out;

    text-transform: uppercase;

    border: 3px solid var(--color-black);

    .icon {
        fill: var(--color-black);
        transition: fill 0.3s ease;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: var(--color-black);
        z-index: -1;
        transition: width 0.3s ease-in-out;
    }

    &:hover::after {
        width: 100%;
    }

    &:hover {
        color: var(--color-white);

        cursor: pointer;

        .icon {
            fill: var(--color-white);
        }

        h3 {
            color: var(--color-white);
        }
    }
}

.text-link {
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}
