.project-cards{
    position: relative;

   /*  .card-1{
        position: absolute;
        top: 0;
        left: 0;
    }
    .card-2{
        position: absolute;
        top: 20px;
        left: 0;
    }
    .card-3{
        position: absolute;
        top: 40px;
        left: 0;
    }
    .card-4{
        position: absolute;
        top: 60px;
        left: 0;
    }
    .card-5{
        position: absolute;
        top: 80px;
        left: 0;
    } */
}