.contact {
    background: var(--color-white);
    min-height: calc(100vh - $header-height);

    padding-top: 50px;

    z-index: 11;

    position: relative;

    @media screen and (max-width: $breakpoint-lg) {
        padding-bottom: 50px;
    }

    h1 {
        color: var(--color-black);
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 40px;
    }
}

.contact-page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;

    width: 100%;

    @media screen and (max-width: $breakpoint-lg) {
        grid-template-columns: 1fr;
        gap: 50px;
    }
}

.contact-left {
    width: 100%;
}

.contact-right {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $breakpoint-lg) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        align-items: flex-start;
        gap: 2rem;
    }

    @media screen and (max-width: $breakpoint-sm) {
        display: grid;
        grid-template-columns: 1fr;
    }

    h3 {
        color: var(--color-black);
    }

    .coords,
    .socials {
        height: fit-content;
    }

    .contact-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;

        padding: 40px 0 0 50px;

        @media screen and (max-width: $breakpoint-lg) {
            padding: 0;
        }

        .contact-links,
        .contact-socials {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;

            margin: 0;
            padding: 0;
        }
    }
}
