.footer {
    padding: 100px 0;

    color: var(--color-black);

    background: var(--color-white);

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 70px;

        @media screen and (max-width: $breakpoint-sm) {
            align-items: center;
        }

        .footer-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            width: 100%;

            @media screen and (max-width: $breakpoint-sm) {
                grid-template-columns: 1fr;
                gap: 50px;
            }

            .grid-element {
                width: 100%;
            }

            .footer-left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 50px;

                @media screen and (max-width: $breakpoint-sm) {
                    align-items: center;
                    gap: 20px;
                }

                .footer-contact {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 30px;

                    @media screen and (max-width: $breakpoint-sm) {
                        align-items: center;
                        gap: 10px;
                    }

                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;

                        .icon {
                            width: 48px;
                            height: 48px;
                        }
                    }
                }
            }

            .footer-right {
                .footer-socials {
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 30px;

                    margin: 0;

                    @media screen and (max-width: $breakpoint-sm) {
                        align-items: center;
                        padding: 0;
                        gap: 10px;
                    }
                }
            }
        }
    }
}
