.project-hero {
    .wrapper {
        display: flex;
        flex-direction: column;

        gap: 120px;
    }
    .hero-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .hero-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        max-width: 870px;
    }

    .hero-right {
        background: rgba($color: #383838, $alpha: 0.5);

        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 40px 30px;
        border-radius: 30px;

        border: 1px solid rgba($color: #f4f1e7, $alpha: 0.2);

        h3 {
            color: var(--color-grey);
        }

        .right-info {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .project-info {
            display: flex;
            gap: 10px;
            justify-content: flex-start;
            align-items: center;
        }

        .li-line {
            display: block;
            width: 15px;
            height: 2px;
            background-color: var(--color-primary);
        }
    }

    .hero-media {
        width: 100%;
        max-height: 855px;
        border-radius: 30px;
        overflow: hidden;

        img {
            border-radius: 45px;
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.prototype iframe {
    width: 100%;
    aspect-ratio: 16 / 9; /* or whatever your Figma frame ratio is */
    border: 1px solid rgba(0, 0, 0, 0.1);
}
