.project-hero {
    padding-bottom: 200px;
    padding-top: $header-height;

    @media screen and (max-width: $breakpoint-md) {
        padding-bottom: 150px;
    }
    @media screen and (max-width: $breakpoint-sm) {
        padding-bottom: 100px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;

        gap: 120px;

        @media screen and (max-width: $breakpoint-sm) {
            gap: 50px;
        }
    }
    .hero-content {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        gap: 200px;

        @media screen and (max-width: $breakpoint-lg) {
            gap: 100px;
        }

        @media screen and (max-width: $breakpoint-md) {
            grid-template-columns: 1fr;
        }

        @media screen and (max-width: $breakpoint-sm) {
            gap: 50px;
        }
    }

    .hero-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        max-width: 870px;
    }

    .hero-right {
        background: rgba($color: #383838, $alpha: 0.5);

        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 40px 30px;
        border-radius: 30px;

        border: 1px solid rgba($color: #f4f1e7, $alpha: 0.2);

        h3 {
            color: var(--color-grey);
        }

        .right-info {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .project-info {
            display: flex;
            gap: 10px;
            justify-content: flex-start;
            align-items: center;
        }

        .li-line {
            display: block;
            width: 15px;
            height: 2px;
            background-color: var(--color-primary);
        }
    }

    .hero-media {
        width: 100%;
        max-height: 770px;
        border-radius: 30px;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            border-radius: 30px;
            display: block;
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;

            @media screen and (max-width: $breakpoint-xs) {
                border-radius: 15px;
            }
        }
    }
}

.prototype iframe {
    width: 100%;
    aspect-ratio: 16 / 9; /* or whatever your Figma frame ratio is */
    border: 1px solid rgba(0, 0, 0, 0.1);
}
