.section-default {
    padding: var(--spacing-xl) 0;

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
    }

    .section-title {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
    }
}

.section {
    overflow: hidden;
}
