.section-default {
    padding-bottom: 200px;

    @media screen and (max-width: $breakpoint-md) {
        padding-bottom: 150px;
    }
    @media screen and (max-width: $breakpoint-sm) {
        padding-bottom: 100px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
    }

    .section-title {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
    }
}

.section {
    overflow: hidden;
}
