/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */

body {
  //background-color: var(--color-bg-primary);
  font-family: var(--font-primary);
  font-size: var(--font-size-content);
  color: var(--color-black);
  line-height: 1.6;
}
