/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    max-width: 1520px;
    width: calc(100% - var(--spacing-md));
    margin: 0 auto;
}

.wrapper-header{
    max-width: 1760px;
    width: calc(100% - var(--spacing-md));
    margin: 0 auto;
}
