/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper-content {
    max-width: 1520px;
    width: calc(100% - var(--spacing-md));
    margin: 0 auto;

    /* @media screen and (max-width: $breakpoint-sm) {
        padding-left: 40px;
        padding-right: 40px;
    }
    @media screen and (max-width: $breakpoint-xs) {
        padding-left: 10px;
        padding-right: 10px;
    } */
}

.wrapper-header {
    max-width: 1760px;
    width: calc(100% - var(--spacing-md));
    margin: 0 auto;
}
