/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #ebebeb;
    --color-black: #000;
    --color-grey: #888;
    --color-dark-grey: #2b2b2b;

    // Couleurs du projet
    --color-primary: #DD6C30;
    --color-primary-dark: #540802;
    --color-bg-primary: #1a1a1a;
}
