/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #DD6C30;
    --color-primary-dark: #540802;
    --color-bg-primary: #1A1A1A;
}
