/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Switzer', sans-serif;
    --font-secondary: 'Mulish', sans-serif;

    --font-size-content: #{typo(16px, 24px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(40px, 96px)};
    --font-size-h2: #{typo(28px, 54px)};
    --font-size-h3: #{typo(20px, 28px)};
}
