{% include '_partials/_header.html' %}

<div class="bg"></div>

<div id="smooth-wrapper">
    <div id="smooth-content" data-component="Scroller" data-pin-items="true">
        <section class="hero project-hero">
            <div class="wrapper wrapper-content">
                <div class="hero-content">
                    <div class="hero-left">
                        <h1 data-lag=".08">Garmin Archives</h1>

                        <p data-lag=".15">
                            Garmin Archives est un projet d’équipe réalisé lors du
                            <a href="https://webjam.ca/2025/" class="text-link" target="_blank">WebJam 2025</a>
                            , un événement intensif de 36 heures consacré à la création web. Le site a été conçu en un temps limité pour démontrer notre
                            créativité et notre efficacité en équipe. Grâce à son esthétique soignée et à son interface intuitive, le projet a remporté le prix
                            du meilleur design.
                        </p>

                        <a data-lag=".2" href="#" target="_blank" class="arrow-btn arrow-right link-left">
                            <p>Voir le site</p>
                            <svg class="icon">
                                <use href="#icon-arrow"></use>
                            </svg>
                        </a>

                        <a data-lag=".2" href="https://github.com/trescero/Garmin-Archives" target="_blank" class="arrow-btn arrow-right link-left">
                            <p>Voir sur GitHub</p>
                            <svg class="icon">
                                <use href="#icon-arrow"></use>
                            </svg>
                        </a>
                    </div>

                    <div class="hero-right" data-lag=".2">
                        <div class="type right-info">
                            <h3>Type de projet</h3>
                            <div class="project-info">
                                <span class="li-line"></span>
                                <p>Projet scolaire</p>
                            </div>
                            <div class="project-info">
                                <span class="li-line"></span>
                                <p>Intégration front-end</p>
                            </div>
                            <div class="project-info">
                                <span class="li-line"></span>
                                <p>Intégration back-end</p>
                            </div>
                            <div class="project-info">
                                <span class="li-line"></span>
                                <p>Design</p>
                            </div>
                        </div>

                        <div class="type right-info">
                            <h3>Languages / Logiciels</h3>
                            <div class="project-info">
                                <span class="li-line"></span>
                                <p>Figma</p>
                            </div>
                            <div class="project-info">
                                <span class="li-line"></span>
                                <p>HTML / CSS / JS</p>
                            </div>
                            <div class="project-info">
                                <span class="li-line"></span>
                                <p>php</p>
                            </div>
                        </div>

                        <div class="type right-info credits">
                            <h3>Crédits</h3>
                            <div class="project-info-credits">
                                <p>
                                    Design:
                                    <a href="https://webjam.ca/2025/" class="text-link" target="_blank">Juan Corach</a>
                                    ,
                                    <a href="https://webjam.ca/2025/" class="text-link" target="_blank">Édouard Gélinas</a>
                                </p>
                                <p>
                                    Front-end:
                                    <a href="https://webjam.ca/2025/" class="text-link" target="_blank">Dzhulian Farashev</a>
                                    ,
                                    <a href="https://webjam.ca/2025/" class="text-link" target="_blank">Nathan Marquis</a>
                                    , Derek Samson
                                </p>
                                <p>
                                    Back-end:
                                    <a href="https://webjam.ca/2025/" class="text-link" target="_blank">Dzhulian Farashev</a>
                                    , Derek Samson
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hero-media" data-lag=".2">
                    <img src="./assets/images/garmin-mockup.jpg" alt="Mockup BSC" />
                </div>
            </div>
        </section>

        <section class="section-default project-section">
            <div class="wrapper wrapper-content">
                <div class="section-title">
                    <h2 data-lag=".08">identité visuelle</h2>
                </div>

                <div class="swiper swiper-project" data-component="Carousel" data-split1 data-lag=".05">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="./assets/images/garmin-identity-1.jpg" alt="" />
                            <p class="description">Palette de couleurs</p>
                        </div>

                        <div class="swiper-slide">
                            <img src="./assets/images/garmin-identity-2.jpg" alt="" />
                            <p class="description">Design système</p>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </section>

        <section class="section-default project-section">
            <div class="wrapper wrapper-content">
                <div class="section-title">
                    <h2 data-lag=".08">Conceptualisation et Idéation</h2>
                    <p data-lag=".03">
                        Pour ce projet, des moodboards étaient fournis dès le commencement, donc la plus grande partie de cette étape était de trouver des
                        comparables de sites webs municipaux récents pour pouvoir s’inspirer de mises en pages modernes.
                    </p>
                </div>

                <div class="swiper swiper-project" data-component="Carousel" data-split1 data-lag=".05">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="./assets/images/bsc-concept-1.png" alt="" />
                            <p class="description">Inspirations pour le design système</p>
                        </div>

                        <div class="swiper-slide">
                            <img src="./assets/images/bsc-concept-2.png" alt="" />
                            <p class="description">Comparables</p>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </section>

        <section class="section-default project-section">
            <div class="wrapper wrapper-content">
                <div class="section-title">
                    <h2 data-lag=".08">Design & prototypage</h2>
                    <p data-lag=".03">
                        La prochaine étape réalisée est le design et le prototype. En partant des wireframes que j’ai faits, j’ai incorporé le nouveau logo
                        ainsi que les différentes images et couleurs pour donner vie au site. Finalement, j’ai prototypé le design pour donner un meilleur
                        aperçu du site réellement codé.
                    </p>
                </div>

                <div class="swiper swiper-project" data-component="Carousel" data-split1 data-lag=".05">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="./assets/images/bsc-design-1.png" alt="" />
                            <p class="description">Design complété de la page accueil</p>
                        </div>

                        <div class="swiper-slide">
                            <img src="./assets/images/bsc-design-2.png" alt="" />
                            <p class="description">Design complété de la page contact</p>
                        </div>

                        <div class="swiper-slide">
                            <img src="./assets/images/bsc-design-3.png" alt="" />
                            <p class="description">Wireframe de la page accueil</p>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </section>

        <section class="section-default project-section">
            <div class="wrapper wrapper-content">
                <div class="section-title">
                    <h2 data-lag=".08">Intégration html / css / js</h2>
                    <p data-lag=".03">
                        La dernière étape du projet consistait simplement à intégrer le design en HTML, avec l’ajout de CSS et de JS pour les fonctionnalités et
                        animations souhaitées.
                    </p>
                </div>

                <div class="swiper swiper-project" data-component="Carousel" data-split1 data-lag=".05">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="./assets/images/bsc-code-1.png" />
                            <p class="description">Code HTML de la page d’accueil</p>
                        </div>

                        <div class="swiper-slide">
                            <img src="./assets/images/bsc-code-2.png" alt="" />
                            <p class="description">Code SCSS des lecteurs vidéo</p>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </section>

        <section class="section-default prototype">
            <div class="wrapper-content">
                <div class="section-title">
                    <h2>Prototype Figma</h2>
                </div>
                <iframe
                    style="border: 1px solid rgba(0, 0, 0, 0.1)"
                    src="https://embed.figma.com/proto/nZCSRhaoaR11mYNTqcGMzI/1011_samson_derek_TP2?page-id=616%3A397&node-id=8046-6034&viewport=-283%2C-214%2C0.06&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=8046%3A6034&show-proto-sidebar=1&embed-host=share"
                    allowfullscreen
                ></iframe>
            </div>
        </section>

        {% include '_partials/_footer.html' %}
    </div>
</div>
