{% include '_partials/_header.html' %}

<div class="bg"></div>

<div id="smooth-wrapper">
    <div id="smooth-content" data-component="Scroller" data-pin-items="true">
        <section class="hero project-hero">
            <div class="wrapper wrapper-content">
                <div class="hero-content">
                    <div class="hero-left">
                        <h1 data-lag=".08">Garmin Archives</h1>

                        <p data-lag=".15">
                            Garmin Archives est un projet d’équipe réalisé lors du
                            <a href="https://webjam.ca/2025/" class="text-link" target="_blank">WebJam 2025</a>
                            , un événement intensif de 36 heures consacré à la création web. Le site a été conçu en un temps limité pour démontrer notre
                            créativité et notre efficacité en équipe. Grâce à son esthétique soignée et à son interface intuitive, le projet a remporté le prix
                            du meilleur design.
                        </p>

                        <a data-lag=".1" href="https://jcorach.dectim.ca/webjam" target="_blank" class="arrow-btn arrow-right link-left">
                            <p>Voir le site</p>
                            <svg class="icon">
                                <use href="#icon-arrow"></use>
                            </svg>
                        </a>

                        <a data-lag=".05" href="https://github.com/trescero/Garmin-Archives" target="_blank" class="arrow-btn arrow-right link-left">
                            <p>Voir sur GitHub</p>
                            <svg class="icon">
                                <use href="#icon-arrow"></use>
                            </svg>
                        </a>
                    </div>

                    <div class="hero-right" data-lag=".2">
                        <div class="type right-info">
                            <h3>Type de projet</h3>
                            <div class="project-info">
                                <span class="li-line"></span>
                                <p>Projet scolaire</p>
                            </div>
                            <div class="project-info">
                                <span class="li-line"></span>
                                <p>Intégration front-end</p>
                            </div>
                            <div class="project-info">
                                <span class="li-line"></span>
                                <p>Intégration back-end</p>
                            </div>
                            <div class="project-info">
                                <span class="li-line"></span>
                                <p>Design</p>
                            </div>
                        </div>

                        <div class="type right-info">
                            <h3>Languages / Logiciels</h3>
                            <div class="project-info">
                                <span class="li-line"></span>
                                <p>Figma</p>
                            </div>
                            <div class="project-info">
                                <span class="li-line"></span>
                                <p>HTML / CSS / JS</p>
                            </div>
                            <div class="project-info">
                                <span class="li-line"></span>
                                <p>PHP</p>
                            </div>
                        </div>

                        <div class="type right-info credits">
                            <h3>Crédits</h3>
                            <div class="project-info-credits">
                                <p>
                                    Design:
                                    <a href="https://webjam.ca/2025/" class="text-link" target="_blank">Juan Corach</a>
                                    ,
                                    <a href="https://webjam.ca/2025/" class="text-link" target="_blank">Édouard Gélinas</a>
                                </p>
                                <p>
                                    Front-end:
                                    <a href="https://webjam.ca/2025/" class="text-link" target="_blank">Dzhulian Farashev</a>
                                    ,
                                    <a href="https://webjam.ca/2025/" class="text-link" target="_blank">Nathan Marquis</a>
                                    , Derek Samson
                                </p>
                                <p>
                                    Back-end:
                                    <a href="https://webjam.ca/2025/" class="text-link" target="_blank">Dzhulian Farashev</a>
                                    , Derek Samson
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hero-media" data-lag=".2">
                    <img src="./assets/images/garmin-mockup.jpg" alt="Mockup BSC" />
                </div>
            </div>
        </section>

        <section class="section-default project-section">
            <div class="wrapper wrapper-content">
                <div class="section-title">
                    <h2 data-lag=".08">identité visuelle</h2>
                </div>

                <div class="swiper swiper-project" data-component="Carousel" data-split1 data-lag=".05">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="./assets/images/garmin-identity-1.jpg" alt="" />
                            <p class="description">Palette de couleurs</p>
                        </div>

                        <div class="swiper-slide">
                            <img src="./assets/images/garmin-identity-2.jpg" alt="" />
                            <p class="description">Design système</p>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </section>

        <section class="section-default project-section">
            <div class="wrapper wrapper-content">
                <div class="section-title">
                    <h2 data-lag=".08">Analyze & création de CPTs /
                         ACFs</h2>
                    <p data-lag=".03">
                        Pour débuter le développement du back-end du projet, nous avons analysé les différents récits utilisateurs disponibles et créé les CPT et ACF nécessaires en fonction de la liste que nous avions établie.
                        C’est également à cette étape que nous avons défini plus clairement la nature du produit final et précisé sa portée.
                    </p>
                </div>

                <div class="swiper swiper-project" data-component="Carousel" data-split1 data-lag=".05">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="./assets/images/garmin-concept-1.jpg" alt="" />
                            <p class="description">Liste CPTs et ACFs</p>
                        </div>

                        <div class="swiper-slide">
                            <img src="./assets/images/garmin-concept-2.jpg" alt="" />
                            <p class="description">ACF d'un oeuvre</p>
                        </div>

                        <div class="swiper-slide">
                            <img src="./assets/images/garmin-concept-3.jpg" alt="" />
                            <p class="description">Création de CPT</p>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </section>

        <section class="section-default project-section">
            <div class="wrapper wrapper-content">
                <div class="section-title">
                    <h2 data-lag=".08">HTML, JS, CSS & PHP</h2>
                    <p data-lag=".03">
                        Après avoir créé les CPT et ACF, nous avons développé les pages statiques en HTML et CSS afin de nous assurer que la mise en page respecte le design établi.
                        C’est également à cette étape que nous avons intégré les composants JavaScript provenant de notre stack.
                        Nous avons ensuite transformé ces pages statiques en pages dynamiques à l’aide de PHP.
                    </p>
                </div>

                <div class="swiper swiper-project" data-component="Carousel" data-split1 data-lag=".05">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="./assets/images/garmin-code-1.jpg" alt="" />
                            <p class="description">Page statique d'un oeuvre</p>
                        </div>

                        <div class="swiper-slide">
                            <img src="./assets/images/garmin-code-2.jpg" alt="" />
                            <p class="description">CSS d'une page oeuvre</p>
                        </div>

                        <div class="swiper-slide">
                            <img src="./assets/images/garmin-code-3.jpg" alt="" />
                            <p class="description">JS de Swiper</p>
                        </div>

                        <div class="swiper-slide">
                            <img src="./assets/images/garmin-code-4.jpg" alt="" />
                            <p class="description">Page dynamique d'un oeuvre</p>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </section>

        <section class="section-default project-section">
            <div class="wrapper wrapper-content">
                <div class="section-title">
                    <h2 data-lag=".08">Responsive & animations</h2>
                    <p data-lag=".03">
                        Finalement, nous avons ajouté des animations au site à l’aide de GSAP et l’avons rendu partiellement responsive afin d’assurer une meilleure adaptation sur différents formats d’écran.
                    </p>
                </div>

                <div class="swiper swiper-project" data-component="Carousel" data-split1 data-lag=".05">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="./assets/images/garmin-extra-1.jpg" />
                            <p class="description">JS du ScrollSmoother de GSAP</p>
                        </div>

                        <div class="swiper-slide">
                            <img src="./assets/images/garmin-extra-2.jpg" alt="" />
                            <p class="description">JS pour l'animation de texte avec GSAP </p>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </section>

        {% include '_partials/_footer.html' %}
    </div>
</div>
