{% include '_partials/_header.html' %}

<div class="bg"></div>

<section class="hero">
    <div class="wrapper wrapper-content">
        <div class="hero-content">
            <div class="hero-title">
                <h1 class="hero-h1">Derek Samson</h1>
                <h2>Designer & Intégrateur web junior</h2>
            </div>

            <a href="#projects" class="arrow-btn">
                <svg class="icon">
                    <use href="#icon-arrow"></use>
                </svg>
                <h3>Voir mes projets</h3>
            </a>
        </div>
    </div>
</section>

<section class="projects section-default" id="projects">
    <div class="wrapper wrapper-content">
        <div class="section-title">
            <h1>
                Mes
                <span class="highlighted">projets</span>
            </h1>
        </div>

        <div class="project-cards">
            <a href="#" class="card card-project">
                <div class="card-content">
                    <div class="card-top">
                        <div class="card-title">
                            <h2>BSC</h2>
                            <span>/</span>
                            <p class="subtitle">Projet étudiant</p>
                            <span>/</span>
                            <p class="subtitle">Design d’un application mobile</p>
                        </div>

                        <p class="date">2024</p>
                    </div>

                    <div class="card-bottom">
                        <div class="categories">
                            <p>Design</p>
                            <p>Web</p>
                            <p>Responsive</p>
                        </div>

                        <div class="software">
                            <div class="software-icon">
                                <svg class="icon">
                                    <use href="#icon-figma"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-media">
                    <img src="./assets/images/bsc-mockup.jpg" alt="Mockup de Baie-Sainte-Catherine" />
                </div>
            </a>
        </div>
    </div>
</section>

<section class="about section-default" id="about">
    <div class="wrapper wrapper-content">
        <div class="about-hero">
            <div class="hero-content">
                <h3>Designer/INtégrateur</h3>
                <h1>Derek Samson</h1>
            </div>

            <div class="hero-media">
                <img src="./assets/images/photo.JPG" alt="" />
            </div>
        </div>

        <div class="info">
            <h3>01 - Un peu plus d’information</h3>
            <div class="info-text">
                <p>Je suis un prochain diplômé en intégration multimédia au Cégep Édouard-Montpetit à la recherche d’un stage en design.</p>
                <p>
                    Grâce à mes compétences en design et en programmation HTML, CSS, JavaScript et PHP, je conçois des interfaces et des maquettes à la fois
                    esthétiques et fonctionnelles.
                </p>
            </div>
        </div>

        <div class="hard-skills" data-component="Bars">
            <h3 class="section-title">02 - Hard skills</h3>
            <div class="skills-tabs">
                <div class="software skills-card">
                    <h3>Logiciels</h3>

                    <div class="skill-card">
                        <div class="card-media">
                            <img src="./assets/images/figma.jpg" alt="" />
                        </div>
                        <div class="card-content">
                            <p>Figma</p>
                            <div class="bar" data-skill="95">
                                <span class="bar-fill"></span>
                            </div>
                        </div>
                    </div>

                    <div class="skill-card">
                        <div class="card-media">
                            <img src="./assets/images/vscode.jpg" alt="" />
                        </div>
                        <div class="card-content">
                            <p>VScode</p>
                            <div class="bar" data-skill="90">
                                <span class="bar-fill"></span>
                            </div>
                        </div>
                    </div>

                    <div class="skill-card">
                        <div class="card-media">
                            <img src="./assets/images/github.jpg" alt="" />
                        </div>
                        <div class="card-content">
                            <p>GitHub</p>
                            <div class="bar" data-skill="85">
                                <span class="bar-fill"></span>
                            </div>
                        </div>
                    </div>

                    <div class="skill-card">
                        <div class="card-media">
                            <img src="./assets/images/photoshop.jpg" alt="" />
                        </div>
                        <div class="card-content">
                            <p>Adobe Photoshop</p>
                            <div class="bar" data-skill="80">
                                <span class="bar-fill"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="languages skills-card">
                    <h3>Languages</h3>

                    <div class="skill-card">
                        <div class="card-media">
                            <img src="./assets/images/html.jpg" alt="" />
                        </div>
                        <div class="card-content">
                            <p>HTML</p>
                            <div class="bar" data-skill="95">
                                <span class="bar-fill"></span>
                            </div>
                        </div>
                    </div>

                    <div class="skill-card">
                        <div class="card-media">
                            <img src="./assets/images/css.jpg" alt="" />
                        </div>
                        <div class="card-content">
                            <p>CSS</p>
                            <div class="bar" data-skill="95">
                                <span class="bar-fill"></span>
                            </div>
                        </div>
                    </div>

                    <div class="skill-card">
                        <div class="card-media">
                            <img src="./assets/images/js.jpg" alt="" />
                        </div>
                        <div class="card-content">
                            <p>JavaScript</p>
                            <div class="bar" data-skill="85">
                                <span class="bar-fill"></span>
                            </div>
                        </div>
                    </div>

                    <div class="skill-card">
                        <div class="card-media">
                            <img src="./assets/images/php.jpg" alt="" />
                        </div>
                        <div class="card-content">
                            <p>php</p>
                            <div class="bar" data-skill="75">
                                <span class="bar-fill"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
