{% include '_partials/_header.html' %}

<div class="bg"></div>

<section class="hero">
    <div class="wrapper wrapper-content">
        <div class="hero-content">
            <div class="hero-title">
                <h1 class="hero-h1">Derek Samson</h1>
                <h2>Designer & Intégrateur web junior</h2>
            </div>

            <a href="#projects" class="arrow-btn">
                <svg class="icon">
                    <use href="#icon-arrow"></use>
                </svg>
                <h3>Voir mes projets</h3>
            </a>
        </div>
    </div>
</section>

<section class="projects section-default" id="projects">
    <div class="wrapper wrapper-content">
        <div class="section-title">
            <h1>
                Mes
                <span class="highlighted">projets</span>
            </h1>
        </div>

        <div class="project-cards">
            <a href="#" class="card card-project">
                <div class="card-content">
                    <div class="card-top">
                        <div class="card-title">
                            <h2>BSC</h2>
                            <span>/</span>
                            <p class="subtitle">Projet étudiant</p>
                            <span>/</span>
                            <p class="subtitle">Design d’un application mobile</p>
                        </div>

                        <p class="date">2024</p>
                    </div>

                    <div class="card-bottom">
                        <div class="categories">
                            <p>Design</p>
                            <p>Web</p>
                            <p>Responsive</p>
                        </div>

                        <div class="software">
                            <div class="software-icon">
                                <svg class="icon">
                                    <use href="#icon-figma"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-media">
                    <img src="./assets/images/bsc-mockup.jpg" alt="Mockup de Baie-Sainte-Catherine" />
                </div>
            </a>
        </div>
    </div>
</section>

<section class="a-propos section-default" id="a-propos">
    <div class="wrapper-content"></div>
</section>

{% include '_partials/_footer.html' %}
