{% include '_partials/_header.html' %}

<section class="hero">
    <div class="wrapper-content">
        <div class="hero-content">
            <div class="hero-title">
                <h1 class="hero">Derek Samson</h1>
                <h2>Designer & Intégrateur web junior</h2>
            </div>
            <div class="arrow-link">
                <svg class="icon">
                    <use href="#icon-arrow"></use>
                </svg>
                <h3>Voir mes projets</h3>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
