{% include '_partials/_header.html' %}

<div class="bg"></div>

<section class="hero">
    <div class="wrapper wrapper-content">
        <div class="hero-content">
            <div class="hero-left">
                <h1>Baie-Sainte-Catherine</h1>

                <p>
                    Le projet de la Baie-Sainte-Catherine avait comme objectif la refonte du site de la ville de manière non officielle. Séparé en deux parties, la première consistait à mettre à jour le design du site pour créer une expérience utilisateur à la hauteur des attentes d’aujourd’hui. La deuxième partie était d’intégrer le site de façon front-end en HTML, CSS et JS.
                </p>

                <a href="#projects" class="arrow-btn">
                    <p>Me contacter</p>
                    <svg class="icon">
                        <use href="#icon-arrow"></use>
                    </svg>
                </a>
            </div>

            <div class="hero-right">
                <div class="type right-info">
                    <h3>Type de projet</h3>
                    <div class="project-info">
                        <span class="li-line"></span>
                        <p>Projet scolaire</p>
                    </div>
                    <div class="project-info">
                        <span class="li-line"></span>
                        <p>Intégration front-end</p>
                    </div>
                    <div class="project-info">
                        <span class="li-line"></span>
                        <p>Design</p>
                    </div>
                </div>

                <div class="type right-info">
                    <h3>Languages / Logiciels</h3>
                    <div class="project-info">
                        <span class="li-line"></span>
                        <p>Figma</p>
                    </div>
                    <div class="project-info">
                        <span class="li-line"></span>
                        <p>HTML / CSS / JS</p>
                    </div>
                </div>

                <div class="type right-info">
                    <h3>Crédits</h3>
                    <div class="project-info">
                        <p>Réalisation complète: Derek Samson</p>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</section>

{% include '_partials/_footer.html' %}