{% include '_partials/_header.html' %}

<div class="bg"></div>

<div id="smooth-wrapper">
    <div id="smooth-content" data-component="Scroller" data-pin-items="true">
        <section class="hero project-hero">
            <div class="wrapper wrapper-content">
                <div class="hero-content">
                    <div class="hero-left">
                        <h1 data-lag=".08">TimFlix</h1>

                        <p data-lag=".15">
                            Timflix est un projet étudiant de design portant sur une application mobile permettant de regarder et de critiquer des films.
                            L’objectif était de concevoir une interface intuitive et attrayante qui facilite la découverte, l’évaluation et le partage d’avis
                            sur les films entre utilisateurs.
                        </p>
                    </div>

                    <div class="hero-right" data-lag=".2">
                        <div class="type right-info">
                            <h3>Type de projet</h3>
                            <div class="project-info">
                                <span class="li-line"></span>
                                <p>Projet étudiant</p>
                            </div>
                            <div class="project-info">
                                <span class="li-line"></span>
                                <p>Design</p>
                            </div>
                        </div>

                        <div class="type right-info">
                            <h3>Languages / Logiciels</h3>
                            <div class="project-info">
                                <span class="li-line"></span>
                                <p>Figma</p>
                            </div>
                        </div>

                        <div class="type right-info">
                            <h3>Crédits</h3>
                            <div class="project-info">
                                <p>Réalisation complète: Derek Samson</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hero-media" data-lag=".2">
                    <img src="/assets/images/timflix-mockup.jpg" alt="Mockup BSC" />
                </div>
            </div>
        </section>

        <section class="section-default project-section">
            <div class="wrapper wrapper-content">
                <div class="section-title">
                    <h2 data-lag=".08">identité visuelle</h2>
                </div>

                <div class="swiper swiper-project" data-component="Carousel" data-split1 data-lag=".05">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/assets/images/timflix-identity-1.jpg" alt="" />
                            <p class="description">Palette de couleurs</p>
                        </div>

                        <div class="swiper-slide">
                            <img src="/assets/images/timflix-identity-2.jpg" alt="" />
                            <p class="description">Design système</p>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </section>

        <section class="section-default project-section">
            <div class="wrapper wrapper-content">
                <div class="section-title">
                    <h2 data-lag=".08">Design & prototypage</h2>
                    <p data-lag=".03">
                        Pour la section design, j’ai travaillé sur la création d’une interface claire et moderne, en portant une attention particulière aux
                        couleurs, à la typographie et à la hiérarchie visuelle afin d’assurer une expérience utilisateur agréable et cohérente.
                    </p>
                </div>

                <div class="swiper swiper-project" data-component="Carousel" data-split1 data-lag=".05">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/assets/images/timflix-design-1.jpg" alt="" />
                            <p class="description">Design du processus d'inscription</p>
                        </div>

                        <div class="swiper-slide">
                            <img src="/assets/images/timflix-design-2.jpg" alt="" />
                            <p class="description">Design de l'accueil et du système de vote</p>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </section>

        <section class="section-default prototype">
            <div class="wrapper-content">
                <div class="section-title">
                    <h2>Prototype Figma</h2>
                </div>
                <iframe
                    style="border: 1px solid rgba(0, 0, 0, 0.1)"
                    src="https://embed.figma.com/proto/MD04ukbC8qVEE1EsSlGjTc/1021_Samson_Derek_Timflix_TP1?page-id=2%3A18&node-id=2516-98&viewport=210%2C753%2C0.21&scaling=scale-down&content-scaling=fixed&starting-point-node-id=2516%3A98&embed-host=share"
                    allowfullscreen
                ></iframe>
            </div>
        </section>

        {% include '_partials/_footer.html' %}
    </div>
</div>
